.search
    display: flex
    &__inp
        border: none
        font-size: 2rem
        padding: 1rem 0
        outline: none
        border-bottom: 1px solid #eee
        width: 100%
    &__btn
        padding: 0 2rem
        background-color: #003eff
        color: #fff
        text-transform: uppercase
        font-weight: 400
        font-size: 1.4rem